<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon/favicon.png" type="image/png">
    <title>Pedidos</title>
</head>
<body>
    <header>
        <p>Colocar o cabeçalho aqui</p>
    </header>
    <main>
        <h1>Páginas de Pedidos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit doloremque amet perspiciatis earum explicabo, numquam reprehenderit, voluptate inventore et corrupti, sed consequatur ad optio! Eveniet, odit similique? Obcaecati, et officia?</p>
    </main>
    <footer>
        <p>Colocar o rodapé aqui</p>
        <hr>
    </footer>
</body>
</html>